<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>支付宝支付</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/js/jquery.slim.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script><style>
        body{
            padding: 20px;
        }
    </style>

    <script type="text/javascript">
        function action(type) {
            switch (type) {
                case 1:
                    var amt1 = $("#amt1").val();
                    var barcode = $("#barcode").val();
                    window.location.href="/alipay/pay/f2f?amt="+amt1+"&barcode="+barcode;
                    break;
                case 2:
                    var amt2 = $("#amt2").val();
                    window.location.href="/alipay/pay/web?amt="+amt2;
                    break;
                case 3:
                    var amt3 = $("#amt2").val();
                    window.location.href="/alipay/pay/web?amt="+amt3;
                    break;
                case 4:
                    var amt = $("#amt").val();
                    var outTradeNo = $("#out_trade_no").val();
                    window.location.href="/alipay/refund?amt="+amt+"&out_trade_no="+outTradeNo;
                    break;
            }
        }
    </script>
</head>
<body>

<div>

    <div class="alert alert-warning text-center" role="alert">
        支付宝 示例
    </div>

    <div class="card  mb-3">
        <div class="card-header">
            当面付(刷卡)
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-6 form-inline ">

                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >支付码</span>
                        </div>
                        <input type="text" id="barcode" class="form-control" placeholder="输入支付码" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">金额</span>
                        </div>
                        <input id="amt1" type="text" class="form-control" value="0.01" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-6">
                    <button onclick="action(1)" class="btn btn-primary btn-warning  btn-block"> 开始当面付</button>
                </div>
            </div>

        </div>
    </div>

    <div class="card  mb-3">
        <div class="card-header">
            电脑网站支付
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-6">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">输入金额</span>
                        </div>
                        <input type="text" id="amt2" class="form-control" value="0.01"  aria-label="输入金额" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-6">
                    <button onclick="action(2)" class="btn btn-primary btn-warning btn-block">电脑网站支付</button>
                </div>
            </div>

        </div>
    </div>

    <div class="card  mb-3">
        <div class="card-header">
            手机网站支付
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-6">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">输入金额</span>
                        </div>
                        <input type="text" id="amt3" class="form-control" value="0.01" aria-label="输入金额" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-6">
                    <button onclick="action(3)" class="btn btn-primary btn-warning  btn-block">手机网站支付</button>
                </div>
            </div>

        </div>
    </div>


    <div class="card  mb-3">
        <div class="card-header">
            支付订单退款
        </div>
        <div class="card-body">


            <div class="row">
                <div class="col-6 form-inline ">

                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">单号</span>
                        </div>
                        <input type="text" id="out_trade_no" class="form-control" placeholder="out_trade_no" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >金额</span>
                        </div>
                        <input id="amt" type="text" class="form-control" value="0.01" aria-label="退款金额" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-6">
                    <button onclick="action(4)" class="btn btn-primary btn-warning  btn-block"> 开始退款</button>
                </div>
            </div>


        </div>
    </div>

</div>


</body>
</html>
