<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>糖葫芦支付</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">糖葫芦支付</h1>
</div>

<div class="container">
    <div class="card-deck text-center">


        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">支付宝支付</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>当面付(刷卡)</li>
                    <li>电脑网站支付</li>
                    <li>手机网站支付</li>
                    <li>支付订单退款</li>
                </ul>
                <a class="btn btn-outline-primary" href="alipay/index" role="button">查看示例</a>
            </div>
        </div>


        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">微信支付</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>刷卡支付</li>
                    <li>扫码支付</li>
                    <li>公众号支付</li>
                    <li>支付订单退款</li>
                </ul>
                <a class="btn btn-outline-primary" href="wechat/index" role="button">查看示例</a>
            </div>
        </div>


        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">翼支付</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>刷卡支付</li>
                    <li>支付信息查询</li>
                    <li>支付订单撤销</li>
                    <li>支付订单退款</li>
                </ul>
                <a class="btn btn-outline-primary" href="bestpay/index" role="button">查看示例</a>
            </div>
        </div>


    </div>

</div>

</body>
</html>
